@use "../vars";

body{
    overflow: hidden;
    background-image: url('/images/donutello_pattern.webp');
    background-repeat: repeat;
    background-size: 100%;
}

.configurator{
    display: flex;
    &__scene{
        width: 60%;
        height: 100vh;
     
    }
    &__editor{
        position: absolute;
        width: 50rem;
        height: 87vh;
        top: 0;
        right: 0;
        background-color: vars.$color-white;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        text-align: center;
        padding: 5rem;
      
        &__title{
            width: fit-content;
            margin: 0 auto;
        }
        &__choices{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            &__pick{
                background-color: vars.$color-pastelblue;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                margin: 2rem;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;
                color: vars.$color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 5px solid vars.$color-white;
                position: relative;
            }
           
            &__pick:after {
                content: '';
                position: absolute;
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                border: vars.$color-white 7px solid;
                border-radius: 50%;
              }
              &__pick:hover:after {
                border: vars.$color-pastelblue 7px solid;
              }
              &__pick:active:after {
                border: vars.$color-strawberry 7px solid;
              }
              &__pick-active:after {
                border: 5px solid vars.$color-strawberry;
              }
           
        }
        &__next{
          
      
            background-color: aqua;
            &__button{
                background-color: vars.$color-strawberry;
                padding: 1.6rem 2rem;
                border-radius: 100px;
                color: vars.$color-white;
                border: none;
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 500;
                position: absolute;
                bottom: 8rem;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
              
            }
        }
    }
}