@use "../vars";

body{
    overflow: hidden;
    background-image: url('/images/donutello_pattern.webp');
    background-repeat: repeat;
    background-size: 100%;
}

.configurator{
    display: flex;
    &__scene{
        width: 60%;
        height: 100vh;
     
    }
    &__editor{
        position: absolute;
        width: 60rem;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: vars.$color-white;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
    }
}