@use "../vars";

body{
    overflow: hidden;
    background-color: #82D1E4;
    height: 100vh;
    width: 100%;
}

.loadingContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #loading{
    width: 10%;
    animation: move 1s ease-in-out 3s forwards;
  }
  
  @keyframes move{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-500px);
    }
  }
}



.configurator{
    display: flex;
    background-image: url('/images/donutello_pattern.webp');
    background-repeat: repeat;
    background-size: 100%;
    animation: fadeIn 1s ease-in-out forwards;

    @keyframes fadeIn {
      0%{
        opacity: 0;
      }

      100%{
        opacity: 1;
      }
    }

    &__scene{
        width: 60%;
        height: 100vh;
     
    }
    &__editor{
        position: absolute;
        width: 50rem;
        height: 87vh;
        top: 0;
        right: 0;
        background-color: vars.$color-white;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        text-align: center;
        padding: 5rem;
        transform: translateX(2500px);

        animation: moveFromRight 1.5s ease-in-out forwards;

        @keyframes moveFromRight{
          0%{
            transform: translateX(2500px);
          }
          100%{
            transform: translateX(0px);
          }
        }

        &__title{
            width: fit-content;
            margin: 0 auto;
        }
        &__choices{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            &__pick{
                background-color: vars.$color-pastelblue;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                margin: 2rem;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;
                color: vars.$color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 5px solid vars.$color-white;
                position: relative;
            }
           
            &__pick:after {
                content: '';
                position: absolute;
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                border: vars.$color-white 7px solid;
                border-radius: 50%;
              }
              &__pick:hover:after {
                border: vars.$color-pastelblue 7px solid;
              }
              &__pick:active:after {
                border: vars.$color-strawberry 7px solid;
              }
              &__pick-active:after {
                border: 5px solid vars.$color-strawberry;
              }
              &__upload{
                background-color: vars.$color-pastelyellow;
                .file-upload-wrapper {
                    $defaultColor: #4daf7c;
                    $height: 60px;
                    
                    position: relative;
                    width: 100%;
                    height: $height;
                    
                    &:after {
                  
                      font-size: 18px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      background: #fff;
                      padding: 10px 15px;
                      display: block;
                      width: calc(100% - 40px);
                      pointer-events: none;
                      z-index: 20;
                      height: $height - 20px;
                      line-height: $height - 20px;
                      color: #999;
                      border-radius: 5px 10px 10px 5px;
                      font-weight: 300;
                    }
                    
                    &:before {
                      content: 'Upload';
                      position: absolute;
                      top: 0;
                      right: 0;
                      display: inline-block;
                      height: 60px;
                      background: $defaultColor;
                      color: #fff;
                      font-weight: 700;
                      z-index: 25;
                      font-size: 16px;
                      line-height: $height;
                      padding: 0 15px;
                      text-transform: uppercase;
                      pointer-events: none;
                      border-radius: 0 5px 5px 0;
                    }
                    
                    &:hover {
                      &:before {
                        background: darken($defaultColor, 10%);
                      }
                    }
                     input {
                      opacity: 0;
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      z-index: 99;
                      height: $height - 20px;
                      margin: 0;
                      padding: 0;
                      display: block;
                      cursor: pointer;
                      width: 100%;
                    }
                  }
              }
           
        }
        &__next{
          
      
            background-color: aqua;
            &__button{
                background-color: vars.$color-strawberry;
                padding: 1.6rem 2rem;
                border-radius: 100px;
                color: vars.$color-white;
                border: none;
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 500;
                position: absolute;
                bottom: 8rem;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
              
            }
        }
    }
}