@use "../vars";

.bg{
    height: 100vh;
    width: 100%;
    background-color: vars.$color-lemon;
    font-family: "Dosis", sans-serif;
}

.introDonut{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .donutWebp{
        //center
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%); 
    }
}






.buttonContainer{
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color:  vars.$color-lemon;
        font-size: 25px;
        font-weight: 600;
        padding: 15px 28px;
        border-radius: 50px;
        position: absolute;
        z-index: 100;
        bottom: -50%;
        background-color: vars.$color-strawberry;
        animation: animate3 1s ease-in-out forwards 0.5s;
    }
}

.h1Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 150px;
    color: vars.$color-strawberry;
    position: relative;
    z-index: 50;
}

h1{
    font-size: 25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 80px 0px;
    cursor: default;
}

.logo{
    display: flex;
    justify-content: center;
    svg{
        width: 110px;
        position: absolute;
        z-index: 100;
        top: -50%;
        animation: animate4 1s ease-in-out forwards 0.5s;
    }
}

.h1_1{
    animation: animate1 1.2s ease-in-out forwards;
}

.h1_2{
    animation: animate2 1.2s ease-in-out forwards;
}

@keyframes animate1{
    0%{
        transform: translateX(-1500px);
    }
    80%{
        transform: translateX(35px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(1500px);
    }
    80%{
        transform: translateX(-35px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes animate3{
    0%{
        bottom: -50%;
    }
    100%{
        bottom: 5%;
    }
}

@keyframes animate4{
    0%{
        top: -50%;
    }
    100%{
        top: 3%;
    }
}