@use "../vars";

.bg{
    height: 100vh;
    width: 100%;
    background-color: vars.$color-lemon;
    font-family: "Dosis", sans-serif;
}

.h1Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1px;
    color: vars.$color-strawberry;
}

h1{
    font-size: 200px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 80px 0px;
}

.h1_1{
    animation: animate1 1s ease-in-out forwards;
}

.h1_2{
    animation: animate2 1s ease-in-out forwards;
}

@keyframes animate1{
    0%{
        transform: translateX(-1500px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(1500px);
    }
    100%{
        transform: translateY(0px);
    }
}
  