@use "../vars";

body{
    overflow: hidden;
    background-color: #82D1E4;
    height: 100vh;
    width: 100%;
}

.loadingContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: vars.$color-heaven;

  #loading{
    width: 10%;
    animation: move 1s ease-in-out 3s forwards;
  }
  
  @keyframes move{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-500px);
    }
  }
  @keyframes fadeOut{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
}



.configurator{
    display: flex;
    background-image: url('/images/donutello_pattern.webp');
    background-repeat: repeat;
    background-size: 100%;
    animation: fadeIn 1s ease-in-out forwards;

    @keyframes fadeIn {
      0%{
        opacity: 0;
      }

      100%{
        opacity: 1;
      }
    }

    &__scene{
        width: 60%;
        height: 100vh;
     
    }
    &__editor{
        position: absolute;
        width: 50rem;
        height: 87vh;
        top: 0;
        right: 0;
        background-color: vars.$color-white;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        text-align: center;
        padding: 5rem;
        transform: translateX(2500px);
        animation: moveFromRight 1.5s 3.2s ease-in-out forwards;
        @keyframes moveFromRight{
          0%{
            transform: translateX(2500px);
          }
          100%{
            transform: translateX(0px);
          }
        }

        &__title{
            width: fit-content;
            margin: 0 auto;
        }
        &__choices{

          
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            &__pick{
                background-color: vars.$color-pastelblue;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                margin: 2rem;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;
                color: vars.$color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 5px solid vars.$color-white;
                position: relative;
            }
           
            &__pick:after {
                content: '';
                position: absolute;
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                border: vars.$color-white 7px solid;
                border-radius: 50%;
              }
              &__pick:hover:after {
                border: vars.$color-pastelblue 7px solid;
              }
              &__pick:active:after {
                border: vars.$color-strawberry 7px solid;
              }
              &__pick-active:after {
                border: 5px solid vars.$color-strawberry;
              }


              &__color{
                width: 100%;
          
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &__pick{
                    background-color: vars.$color-pastelblue;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    margin: 1rem;
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: vars.$color-white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border: 5px solid vars.$color-white;
                    position: relative;
                }
                &__pick:after {
                    content: '';
                    position: absolute;
                    top: -15px;
                    left: -15px;
                    right: -15px;
                    bottom: -15px;
                    border: vars.$color-white 7px solid;
                    border-radius: 50%;
                  }
                  &__pick:hover:after {
                    border: vars.$color-pastelblue 7px solid;
                  }
                  &__pick:active:after {
                    border: vars.$color-strawberry 7px solid;
                  }
                  &__pick-active:after {
                    border: 5px solid vars.$color-strawberry;
                  }
              }
          &__user{
            //edit input fields
            margin-top: 3rem;
            input{
                width: 80%;
                height: 5rem;
                border: none;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1rem;
                padding: 0 1rem 0 2rem;
                border-radius: vars.$border-radius;
                color: vars.$color-white;
                background-color: vars.$color-pastelblue;
                outline: none;
                font-weight: bold;
                &::placeholder{
                    color: vars.$color-white;
                }
            }
            textarea{
                width: 80%;
                height: 10rem;
                border: none;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 2rem;
                padding: 1rem 0rem 1rem 2rem;
                border-radius: 40px;
                color: vars.$color-white;
                background-color: vars.$color-pastelblue;
                outline: none;
                font-weight: bold;
             
                &::placeholder{
                    color: vars.$color-white;
                }              
            }
          }

          &__upload{
            
          }
        }
        &__next{
          
      
            background-color: aqua;
            &__button{
                background-color: vars.$color-strawberry;
                padding: 1.6rem 2rem;
                border-radius: 100px;
                color: vars.$color-white;
                border: none;
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 500;
                position: absolute;
                bottom: 8rem;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
              
            }
        }
        .choco{
          background-image: url("/images/chocodough.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .aardbei{
          background-image: url("/images/aardbeidough.png");
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .pistache{
          background-image: url("/images/pistachedough.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .orange{
          background-image: url("/images/orange.webp");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .rood{
          background-color: #FF577F;
        }

        .bruin{
          background-color: #441e09;
        }
        .groen{
          background-color: #1f7e4d;
        }
        .geel{
          background-color: #f7d56e;
        }
        .blauw{
          background-color: #3ab0ff; 
        }
        .wit{
          background-color: #f3f3f3;
        }

        .marsh{
          background-image: url("/images/marsh.webp");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .sprinkles{
          background-image: url("/images/sprinkles.webp");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .snickers{
          background-image: url("/images/snickers.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .rechthoek{
          background-image: url("/images/rechthoek.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .vierkant{
          background-image: url("/images/vierkant.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .cirkel{
          background-image: url("/images/cirkel.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
    }
}

.upload{
  background-color: vars.$color-lemon;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: vars.$color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 5px solid vars.$color-white;
  position: relative;   
}

.upload label {
  position: absolute;
  z-index: 200;
  background-image: url("/images/upload2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  cursor: pointer;
}

.preview{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
}

.upload input[type="file"] {
  display: none;
}



